@page "/categories/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]

<h3 class="card-title">Categories</h3>
<br />

@if (Categories == null)
{
    <div class="alert alert-info">Loading Categories...</div>
}
else
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Categories)
            {
            <tr>
                <td>@category.Name</td>
                <td>
                    <a href="/categories/view/@category.Id" class="btn btn-primary">
                        <span class="oi oi-book"></span>
                    </a>
                    <a href="/categories/edit/@category.Id" class="btn btn-warning">
                        <span class="oi oi-pencil"></span>
                    </a>
                    <button class="btn btn-danger" @onclick="@(()=>Delete(category.Id))">
                        <span class="oi oi-delete"></span>
                    </button>
                </td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Category> Categories;

    protected async override Task OnInitializedAsync()
    {
        Categories = await _client.GetFromJsonAsync<List<Category>>($"{Endpoints.CategoriesEndpoint}");
    }

    async Task Delete(int categoryId)
    {
        var category = Categories.First(q => q.Id == categoryId);
        var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {category.Name}?");
        if (confirm)
        {
            await _client.DeleteAsync($"{Endpoints.CategoriesEndpoint}/{categoryId}");
            await OnInitializedAsync();
        }
    }
}
